*.iml
.gradle
/.idea/
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/cpp/src/app/core
/app/src/main/cpp/src/engine
/app/src/main/cpp/src/android
